$color-principal: #1693b5;
$color-secundario: #262626;
$color-base: #322046;
$color-detalles: rgb(177, 87, 87);
$color-btn-alfabeticamente: rgb(98, 154, 126);
$color-btn-precio: rgb(225, 193, 119);
$color-btn-comuna: rgb(239, 245, 158);
$color-btn-zona: rgb(149, 186, 220);
$color-btn-calculo: rgb(153, 255, 147);
$color-btn-reset: rgb(171, 74, 74);